<app-header-admin></app-header-admin>


<div class="promo-container">
  <p class="breadcrumb">HOME</p>
  <h2 class="section-title">Gestión de Promociones</h2>

  <div class="promo-grid">
    <div
      class="promo-item"
      (click)="irA('administrador/gestion-promociones/crear')"
    >
      <img src="assets/admin/ADMIN_18.png" alt="Crear promoción" />
      <span>Crear promoción</span>
    </div>
    <div
      class="promo-item"
      (click)="irA('administrador/gestion-promociones/editar-eliminar')"
    >
      <img
        src="assets/admin/ADMIN_18_1.png"
        alt="Editar/Eliminar promoción"
      />
      <span>Editar/Eliminar promoción</span>
    </div>
    <div
      class="promo-item"
      (click)="irA('administrador/gestion-promociones/estadisticas')"
    >
      <img src="assets/admin/ADMIN_18_2.png" alt="Estadísticas" />
      <span>Estadísticas</span>
    </div>
  </div>
</div>

<app-footer-admin [backRoute]="'/administrador/home'"></app-footer-admin>
