<div class="home-header">
    <h1 class="brand-title">KIOSCO GO!</h1>
    <hr class="header-line" />
</div>
<div class="home-container">
    <h2 class="breadcrumb">HOME</h2>
    <h1 class="home-title">Menú de Gestión</h1>
  
    <div class="home-grid">
      <div class="home-item" (click)="irARuta('administrador/gestion-usuarios')">
        <img src="assets/admin/ADMIN_4_2.png" alt="Usuarios" />
        <span>USUARIOS</span>
      </div>
  
      <div class="home-item" (click)="irARuta('administrador/gestion-productos')">
        <img src="assets/admin/ADMIN_4_3.png" alt="Productos" />
        <span>PRODUCTOS</span>
      </div>
  
      <div class="home-item" (click)="irARuta('administrador/gestion-menus')">
        <img src="assets/admin/ADMIN_4_4.png" alt="Menús" />
        <span>MENÚS</span>
      </div>
  
      <div class="home-item" (click)="irARuta('administrador/gestion-promociones')">
        <img src="assets/admin/ADMIN_4_5.png" alt="Promociones" />
        <span>PROMOCIONES</span>
      </div>
  
      <div class="home-item" (click)="irARuta('administrador/gestion-pantallas-cocina')">
        <img src="assets/admin/ADMIN_4_6.png" alt="Pantallas de cocina" />
        <span>PANTALLAS DE COCINA</span>
      </div>
  
      <div class="home-item" (click)="irARuta('administrador/gestion-establecimientos')">
        <img src="assets/admin/ADMIN_4_7.png" alt="Establecimientos" />
        <span>ESTABLECIMIENTOS</span>
      </div>
  
      <div class="home-item" (click)="irARuta('administrador/gestion-publicidad')">
        <img src="assets/admin/ADMIN_4_8.png" alt="Publicidad" />
        <span>PUBLICIDAD</span>
      </div>
  
      <div class="home-item" (click)="irARuta('administrador/gestion-kiosko-touch')">
        <img src="assets/admin/ADMIN_4_9.png" alt="Kiosco Touch" />
        <span>KIOSCO TOUCH</span>
      </div>
    </div>
  </div>