<div class="container">
    <header class="header">
      <h1>Kiosko Go</h1>
      <p>¡Bienvenido!</p>
      <p>Comienza tu pedido</p>
      <button (click)="irAlMenu()">Empezar</button>
    </header>
  
    <section class="imagenes">
      <img src="img/cliente/hamburguesa1-home.png" alt="Hamburguesa1" />
      <img src="img/cliente/hamburguesa2-home.png" alt="Hamburguesa2" />
      <img src="img/cliente/helado1-home.png" alt="Helado" />
      <img src="img/cliente/jugo1-home.png" alt="Jugo" />
      
    </section>
  </div>

