{% load static %}

<!doctype html>
<html lang="en" data-beasties-container>
<head>
  <meta charset="utf-8">
  <title>Frontend</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
<link rel="stylesheet" href="{% static 'styles-5INURTSO.css' %}"></head>
<body>
  <app-root></app-root>
<link rel="modulepreload" href="{% static 'chunk-3UK7J6O2.js' %}"><link rel="modulepreload" href="{% static 'chunk-VXOTCLHC.js' %}"><script src="{% static 'polyfills-FFHMD2TL.js' %}" type="module"></script><script src="{% static 'main-YNBY6LJO.js' %}" type="module"></script></body>
</html>