<main class="reset-container">
  <!-- Formulario al lado izquierdo -->
  <div class="form-container">
    <header class="header__container">
      <img src="img/administrador/ADMIN_2_2.png" alt="Kiosko go logo">
      <div class="back__btn" (click)="volverAlLogin()">
        <span></span>
        <p>Atrás</p>
      </div>
    </header>

    <h1 class="title">Recuperar Contraseña</h1>
    <form>
      <div class="input-container">
        <label for="newPassword">Nueva contraseña</label>
        <div class="input-wrapper">
          <input type="password" id="newPassword" placeholder="Ingrese contraseña" />
          <span></span>
        </div>
      </div>

      <div class="input-container">
        <label for="repeatPassword">Confirmar contraseña</label>
        <div class="input-wrapper">
          <input type="password" id="repeatPassword" placeholder="Ingrese contraseña de nuevo" />
        </div>
      </div>

      <div class="input-container">
        <label for="verificationCode">Código de verificación</label>
        <div class="input-wrapper">
          <input type="text" id="verificationCode" placeholder="Ingrese código" />
        </div>
      </div>

      <div class="button-group">
        <button type="button" class="primary__button submit-btn" (click)="restablecer()">Restablecer</button>
        <button type="button" class="primary__button cancel-btn" (click)="volverAlLogin()">Cancelar</button>
      </div>
    </form>
  </div>

  <!-- Imagen al lado derecho -->
  <div class="image-container">
    <img src="img/administrador/ADMIN_2.png" alt="Hamburguesa" class="hamburguesa-img" />
  </div>

  <!-- POP-UP de confirmación -->
  <div *ngIf="mostrarPopup" class="popup-overlay">
    <div class="popup">
      <button (click)="continuar()" class="popup-close">X</button>
      <span></span>
      <h2>¡FINALIZADO!</h2>
      <p>Tu contraseña ha sido actualizada correctamente</p>
      <button type="button" class="primary__button popup-btn" (click)="continuar()">Continuar</button>
    </div>
  </div>
</main>