.reset-container {
  display: flex;
  height: 95vh;
  margin: 12px;
}

.image-container {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburguesa-img {
  width: 100%;
  height: 100%;
}

.form-container {
  flex: 1;
  padding: 0 3rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  font-size: 32px;
  margin-bottom: 2rem;
}

.form-container form {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.input-wrapper {
  width: 100%;
  margin-top: 8px;
  padding: 16px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background: var(--input-color);
  display: flex;
  justify-content: space-between;
}

.input-wrapper span {
  display: block;
  width: 22px;
  height: 22px;
  background-image: url(../../../../public/img/administrador/ADMIN_1_1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.input-container {
  margin-bottom: 2.5rem;
}

.input-container input {
  width: 100%;
  font-size: 16px;
  border: none;
  background: var(--input-color);
}

.input-container input:focus,
.popup-input:focus {
  outline: none;
}

.input-container label {
  padding-left: 12px;
  font-size: 20px;
  font-weight: 700;
}

.button-group {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.cancel-btn,
.submit-btn {
  width: 40%;
}

.header__container img {
  width: 120px;
  height: 16px;
}

.back__btn {
  width: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}

.back__btn span {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-image: url(../../../../public/img/administrador/ADMIN_2_3.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.back__btn p {
  font-size: 20px;
  font-weight: 700;
  color: var(--primary-color);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  position: relative;
  width: 50%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 2rem;
  border-radius: 32px;
  text-align: center;
}

.popup span {
  display: block;
  width: 140px;
  height: 140px;
  margin-bottom: 36px;
  background-image: url(../../../../public/img/administrador/ADMIN_3.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.popup h2 {
  margin-bottom: 1rem;
  font-size: 48px;
  font-weight: 700;
  color: var(--primary-color);
}

.popup p {
  margin-bottom: 1.5rem;
  font-size: 20px;
}

.popup-btn {
  width: 40%;
  margin-top: 28px;
}

.popup-close {
  position: absolute;
  top: 20px;
  right: 28px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}