<div class="dialog-container turno-dialog">
  <div class="icon-container">
    <img src="assets/cliente/mesa.png" alt="Icono de Mesa" class="dialog-icon">
  </div>

  <h2 mat-dialog-title class="dialog-title">
    ¿DESEAS TOMAR UN TURNO?
  </h2>

  <mat-dialog-content class="dialog-content">
    <p>Recibe tu pedido a la mesa</p>
  </mat-dialog-content>

  <mat-dialog-actions class="dialog-actions">
    <button
      class="primary__button confirm-button"
      (click)="onConfirm()"
      cdkFocusInitial>
      Sí
    </button>
    <button
      class="primary__button cancel-button"
      (click)="onCancel()">
      No
    </button>
  </mat-dialog-actions>
</div>