<app-header-admin></app-header-admin>
  
  
  <div class="usuarios-container">
    <p class="breadcrumb">HOME</p>
    <h2 class="section-title">Gestión de Usuarios</h2>
  
    <div class="usuarios-grid">
      <div class="usuarios-item" (click)="irA('administrador/gestion-usuarios/crear-usuario')">
        <img src="assets/admin/ADMIN_5.png" alt="Crear nuevo usuario" />
        <span>Crear nuevo usuario</span>
      </div>
      <div class="usuarios-item" (click)="irA('administrador/gestion-usuarios/editar-eliminar-usuario')">
        <img src="assets/admin/ADMIN_5_1.png" alt="Editar/Eliminar usuario" />
        <span>Editar/Eliminar usuario</span>
      </div>
      <div class="usuarios-item" (click)="irA('administrador/gestion-usuarios/crear-rol')">
        <img src="assets/admin/ADMIN_5_2.png" alt="Crear nuevo rol" />
        <span>Crear nuevo rol</span>
      </div>
      <div class="usuarios-item" (click)="irA('administrador/gestion-usuarios/editar-eliminar-rol')">
        <img src="assets/admin/ADMIN_5_3.png" alt="Editar/Eliminar rol" />
        <span>Editar/Eliminar rol</span>
      </div>
    </div>
  </div>

<app-footer-admin [backRoute]="'/administrador/home'"></app-footer-admin>
  
