<app-header-admin></app-header-admin>

<!-- Contenido -->
<div class="menu-container">
  <p class="breadcrumb">HOME</p>
  <h2 class="section-title">Gestión del Menú</h2>

  <div class="menu-grid">
    <div class="menu-item" (click)="irA('administrador/gestion-menus/crear')">
      <img src="assets/icons/crear-menu.png" alt="Crear menú" />
      <span>Crear menú</span>
    </div>
    <div
      class="menu-item"
      (click)="irA('administrador/gestion-menus/editar-eliminar')"
    >
      <img src="assets/icons/editar-menu.png" alt="Editar/Eliminar menú" />
      <span>Editar/Eliminar menú</span>
    </div>
  </div>

  <div class="menu-atras" (click)="volver()">
    <span>&#x2190; Atrás</span>
  </div>
</div>
