<app-header-admin></app-header-admin>


<div class="menu-container">
  <p class="breadcrumb">HOME</p>
  <h2 class="section-title">Gestión del Menú</h2>

  <div class="menu-grid">
    <div class="menu-item" (click)="irA('administrador/gestion-menus/crear')">
      <img src="assets/admin/ADMIN_15.png" alt="Crear menú" />
      <span>Crear menú</span>
    </div>
    <div
      class="menu-item"
      (click)="irA('administrador/gestion-menus/editar-eliminar')"
    >
      <img src="assets/admin/ADMIN_15_1.png" alt="Editar/Eliminar menú" />
      <span>Editar/Eliminar menú</span>
    </div>
  </div>
</div>

<app-footer-admin [backRoute]="'/administrador/home'"></app-footer-admin>
