<app-header-admin></app-header-admin>

<div class="form-container">
  <p class="breadcrumb-title">GESTIÓN DE MENÚS</p>
  <h1 class="form-main-title">Creación de nuevo Menú</h1>

  <form [formGroup]="menuForm" (ngSubmit)="onSubmit()" class="product-form">
    <div class="form-grid">
      <div class="form-fields-column">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Nombre del menú</mat-label>
          <input
            matInput
            formControlName="nombre"
            placeholder="Ej: Valentine's day"
          />
          <mat-error *ngIf="menuForm.get('nombre')?.hasError('required')"
            >El nombre es requerido.</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Descripción del menú</mat-label>
          <textarea
            matInput
            formControlName="descripcion"
            placeholder="Ej: Para que disfrutes con tu pareja"
            rows="3"
          ></textarea>
          <mat-error *ngIf="menuForm.get('descripcion')?.hasError('required')"
            >La descripción es requerida.</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Precio del menú</mat-label>
          <input
            matInput
            type="number"
            formControlName="precio"
            placeholder="Ej: 9.99"
          />
          <mat-error *ngIf="menuForm.get('precio')?.hasError('required')"
            >El precio es requerido.</mat-error
          >
          <mat-error *ngIf="menuForm.get('precio')?.hasError('pattern')"
            >Formato de precio inválido (ej: 10 o 10.99).</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Tipo de menú</mat-label>
          <mat-select formControlName="tipo_menu" required>
            <mat-option value="pequeño">Pequeño</mat-option>
            <mat-option value="mediano">Mediano</mat-option>
            <mat-option value="grande">Grande</mat-option>
            <mat-option value="otro">Otro</mat-option>
          </mat-select>
          <mat-error *ngIf="menuForm.get('tipo_menu')?.hasError('required')">
            El tipo de menú es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Estado del menú</mat-label>
          <mat-select formControlName="estado">
            <mat-option *ngFor="let disp of estados" [value]="disp.id">
              {{ disp.nombre || disp.descripcion }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="menuForm.get('estado')?.hasError('required')">
            {{ disponibilidadError }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Productos Seleccionados</mat-label>
          <input
            matInput
            placeholder="Seleccione un Producto"
            [value]="productosSeleccionadosTexto"
            readonly
            tabindex="-1"
            style=" color: #222; cursor: not-allowed;"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="eliminarProductos()"
            type="button"
            style="pointer-events: auto;"
          >
            <mat-icon>delete_outline</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="image-upload-column">
        <p class="image-upload-label">Imagen del producto</p>
        <div class="image-upload-container" (click)="fileInput.click()">
          <input
            hidden
            type="file"
            #fileInput
            id="fileInput"
            (change)="onFileSelected($event)"
            accept="image/png, image/jpeg, image/gif"
          />
          <ng-container *ngIf="!imagePreview; else imagePreviewBlock">
            <img
              src="assets/admin/ADMIN_27.png"
              alt="Subir Imagen Icono"
              class="upload-placeholder-icon"
            />
            <p>Formato de imagen 90x90</p>
          </ng-container>
          <ng-template #imagePreviewBlock>
            <img
              [src]="imagePreview"
              alt="Vista previa de la imagen"
              class="image-preview"
            />
          </ng-template>
        </div>
        <button
          *ngIf="imagePreview"
          (click)="eliminarImagen()"
          class="primary__button delete-image-button"
          type="button"
        >
          Eliminar
        </button>

        <div class="buscador">
          <label>Buscar producto</label>
          <div class="buscador-input">
            <input type="text" placeholder="Buscar" [(ngModel)]="search" />
            <i class="fas fa-search"></i>
          </div>
        </div>

        <div class="productos-grid">
          @for (producto of productos; track producto.id) {
          <div class="producto-card">
            <div class="producto-nombre">{{ producto.nombre }}</div>
            <img
              [src]="getFullImageUrl(producto.imagenUrl)"
              [alt]="producto.nombre"
            />
            <div class="producto-actions">
              <button class="btn" type="button" (click)="agregarProducto(producto)">
                Agregar
              </button>
            </div>
          </div>
          }
        </div>
      </div>

      <div class="form-actions">
        <button
          type="submit"
          class="primary__button"
          [disabled]="!menuForm.valid"
        >
          {{ isEditMode ? 'Actualizar Menú' : 'Crear' }}
        </button>
      </div>
    </div>
  </form>
</div>

<app-footer-admin
  [backRoute]="'/administrador/gestion-menus'"
></app-footer-admin>
