<app-header-admin></app-header-admin>

<div class="kiosko-touch-container">
  <p class="breadcrumb">HOME</p>
  <h2 class="section-title">Gestión de Kiosko Touch</h2>

  <div class="kiosko-touch-grid">
    <div
      class="kiosko-touch-item"
      (click)="irA('/administrador/gestion-kiosko-touch/crear')"
    >
      <img src="assets/admin/ADMIN_29.png" alt="Crear nuevo Kiosko" />
      <span>Crear nuevo Kiosko</span>
    </div>
    <div
      class="kiosko-touch-item"
      (click)="irA('/administrador/gestion-kiosko-touch/editar-eliminar')"
    >
      <img
        src="assets/admin/ADMIN_29_1.png"
        alt="Editar/Eliminar Kiosco"
      />
      <span>Editar/Eliminar Kiosko</span>
    </div>
  </div>
</div>

<app-footer-admin [backRoute]="'/administrador/home'"></app-footer-admin>