<header class="header__container">
  <h1 class="header__title">Kiosko Go</h1>
  <button (click)="abrirLoginPopup()" class="login__button">
    Iniciar sesión<i class="icon__qrcode"></i>
  </button>
</header>
<section class="home__languages-container">
  <p class="home__title">Home</p>
  <article class="home__languages">
    <label><span class="flag english__language"></span>Inglés<input class="language__selector" type="radio" name="idioma" value="en" [(ngModel)]="idioma"></label>
    <label><span class="flag spanish__language"></span>Español<input class="language__selector" type="radio" name="idioma" value="es" [(ngModel)]="idioma"></label>
  </article>
</section>
<main>
  <section class="product__dashboard-container">
      <!-- Carrusel vertical -->
    <article class="carousel__outer-container">
      <div *ngFor="let cat of categorias" (click)="seleccionarCategoria(cat)"
        [class.bg-yellow-300]="cat.nombre === categoriaSeleccionada" class="carousel__inner-container">
        <figure class="category__image-container">
          <img [src]="cat.img" class="category__image" />
        </figure>
        <!-- <p class="category__name">{{ cat.nombre }}</p> -->
      </div>
    </article>
    <!-- Productos -->
    <article class="category__products">
      <h2 class="category__products-title">Combos y sandwiches</h2>
      <div class="product__card-container">
        <figure *ngFor="let prod of productosFiltrados" class="product__card">
          <img [src]="prod.img" class="product__card-image"/>
          <div class="product__card-details">
            <h3 class="product__card-name">{{ prod.nombre }}</h3>
            <span class="product__card-price">${{ prod.precio }}</span>
          </div>
        </figure>
      </div>
    </article>
  </section>
  <section class="my-order">
  <div class="order__divider">
    <h2 class="order__title">Mi orden</h2>
  </div>
  <article class="order__details-container">
    <div class="order__details">Total: $0 | Productos: 0</div>
    <button (click)="continuar()" class="continue__button">Continuar</button>
  </article>
  </section>
</main>

<!-- Línea horizontal -->
<hr class="my-4 border-t border-gray-400" />

<!-- Espacio para publicidad -->
<div class="advertisement__container">
  <img src="img/cliente/publicidadejemplo.png" class="advertisement__img" alt="Publicidad" />
</div>


<!-- Pop-up para login -->
<div *ngIf="mostrarPopupLogin" class="popup-overlay">
  <div class="popup">
    <button (click)="cerrarPopupLogin()" class="popup-close">X</button>
    <h2>Escanee el siguiente código QR</h2>
    <img src="img/cliente/codigoQR.png" alt="QR" />
  </div>
</div>


