.header-admin {
  background-color: #F2F2F2;
  padding: 15px 0 0;
  position: relative;
}

.logo-container {
  padding: 0 50px;
}

.brand-logo {
  height: 50px; /* Ajusta según el tamaño de tu logo */
  object-fit: contain;
}

.actions-container {
  position: absolute;
  top: 15px;
  right: 50px;
  display: flex;
  gap: 25px;
}

.action-icon {
  height: 40px;
  width: 40px;
  margin-top: 5px;
  cursor: pointer;
}

.header-line {
  border: none;
  height: 3px;
  background-color: #d32f2f;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 0;
}