<app-header-admin></app-header-admin>

<div class="form-container">
  <p class="breadcrumb-title">GESTIÓN DE PROMOCIONES</p>
  <h1 class="form-main-title">creación de nueva Promoción</h1>

  <form [formGroup]="promocionForm" (ngSubmit)="onSubmit()" class="promo-form">
    <div class="form-grid">
      <div class="form-fields-column">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Nombre del promocion</mat-label>
          <input
            matInput
            formControlName="nombre"
            placeholder="Ej: Promo Guayaquileña"
          />
          @if (promocionForm.get('nombre')?.hasError('required')) {
          <mat-error>El nombre es requerido.</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Descripción del promocion</mat-label>
          <textarea
            matInput
            formControlName="descripcion"
            placeholder="Ej: Celebra con nosotros las fiestas de Guayaquil"
            rows="3"
          ></textarea>
          @if (promocionForm.get('descripcion')?.hasError('required')) {
          <mat-error>La descripción es requerida.</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Tipo de promoción</mat-label>
          <mat-select formControlName="tipo_promocion" required>
            <mat-option value="navidad">Navidad</mat-option>
            <mat-option value="cumpleanos">Cumpleaños</mat-option>
            <mat-option value="black">Black Friday</mat-option>
            <mat-option value="otro">Otro</mat-option>
          </mat-select>
          <mat-error *ngIf="promocionForm.get('tipo_promocion')?.hasError('required')">
            El tipo de promoción es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Descuento de la promocion</mat-label>
          <input
            matInput
            type="number"
            formControlName="valor_descuento"
            placeholder="Ej: 10"
          />
          <mat-error *ngIf="DescuentoError">{{ DescuentoError }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Codigo promocional</mat-label>
          <input
            matInput
            formControlName="codigo_promocional"
            placeholder="Ej: GUAYACO25"
          />
          @if (promocionForm.get('codigo_promocional')?.hasError('required')) {
          <mat-error>El codigo promocional es requerido.</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Limite de uso total</mat-label>
          <input
            matInput
            type="number"
            formControlName="limite_uso_total"
            placeholder="Ej: 200"
          />
          <mat-error *ngIf="limiteTotalError">{{ limiteTotalError }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Limite de uso por usuario</mat-label>
          <input
            matInput
            type="number"
            formControlName="limite_uso_usuario"
            placeholder="Ej: 2"
          />
          <mat-error *ngIf="limiteUsuarioError">{{ limiteUsuarioError }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Estado de la promoción</mat-label>
          <mat-select formControlName="estado">
            @for (disp of estados; track disp.id) {
            <mat-option [value]="disp.id">{{ disp.nombre }}</mat-option>
            }
          </mat-select>
          @if (promocionForm.get('estado')?.hasError('required')) {
          <mat-error *ngIf="disponibilidadError">{{
            disponibilidadError
          }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Productos Seleccionados</mat-label>
          <input
            matInput
            placeholder="Seleccione un Producto"
            formControlName="productosSeleccionados"
            [readonly]="true"
            style="pointer-events: none"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="eliminarProductos()"
            type="button"
            style="pointer-events: auto"
          >
            <mat-icon>delete_outline</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Menús Seleccionados</mat-label>
          <input
            matInput
            placeholder="Seleccione un Menú"
            formControlName="menusSeleccionados"
            [readonly]="true"
            style="pointer-events: none"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="eliminarMenus()"
            type="button"
            style="pointer-events: auto"
          >
            <mat-icon>delete_outline</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="image-upload-column">
        <p class="image-upload-label">Imagen de la promoción</p>
        <div class="image-upload-container" (click)="fileInput.click()">
          <input
            hidden
            type="file"
            #fileInput
            id="fileInput"
            (change)="onFileSelected($event)"
            accept="image/png, image/jpeg, image/gif"
          />
          @if (!imagePreview) {
          <img
            src="assets/admin/ADMIN_27.png"
            alt="Subir Imagen Icono"
            class="upload-placeholder-icon"
          />
          <p>Formato de imagen 90x90</p>
          } @else {
          <img
            [src]="imagePreview"
            alt="Vista previa de la imagen"
            class="image-preview"
          />
          }
        </div>
        @if (imagePreview) {
        <button
          (click)="eliminarImagen()"
          class="primary__button delete-image-button"
          type="button"
        >
          Eliminar
        </button>
        }

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Fecha inicial de la promoción</mat-label>
          <input
            matInput
            [matDatepicker]="pickerInicio"
            formControlName="fecha_inicio_promo"
            placeholder="Selecciona una fecha"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerInicio"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerInicio></mat-datepicker>
          @if (promocionForm.get('fecha_inicio_promo')?.hasError('required')) {
          <mat-error>La fecha de inicio es requerida.</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Fecha final de la promoción</mat-label>
          <input
            matInput
            [matDatepicker]="pickerFin"
            formControlName="fecha_fin_promo"
            placeholder="Selecciona una fecha"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerFin"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerFin></mat-datepicker>
          @if (promocionForm.get('fecha_fin_promo')?.hasError('required')) {
          <mat-error>La fecha de Fin es requerida.</mat-error>
          }
        </mat-form-field>

        <div class="buscador">
          <label>Buscar producto</label>
          <div class="buscador-input">
            <input type="text" placeholder="Buscar" [(ngModel)]="search" />
            <i class="fas fa-search"></i>
          </div>
        </div>

        <div class="productos-grid">
          @for (producto of productos; track producto.id) {
          <div class="producto-card">
            <div class="producto-nombre">{{ producto.nombre }}</div>
            <img
              [src]="getFullImageUrl(producto.imagenUrl)"
              [alt]="producto.nombre"
            />
            <div class="producto-actions">
              <button
                class="btn"
                type="button"
                (click)="agregarProducto(producto)"
              >
                Agregar
              </button>
            </div>
          </div>
          }
        </div>
        <div class="menus-grid">
          @for (menu of menus; track menu.id) {
          <div class="menu-card">
            <div class="menu-nombre">{{ menu.nombre }}</div>
            <img
              [src]="getFullImageUrl(menu.imagenUrl)"
              [alt]="menu.nombre"
              style="width: 100%; max-width: 180px; height: auto; object-fit: cover;"
            />
            <div class="menu-productos-lista">
              <ul>
                <li *ngFor="let men of menu.menuLista">{{ men }}</li>
              </ul>
            </div>
            <div class="menu-actions">
              <button
              class="btn"
              type="button"
              (click)="agregarMenu(menu)"
              >
              Agregar
            </button>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
    <div class="form-actions">
      <button
        type="submit"
        class="primary__button"
        [disabled]="!promocionForm.valid || !tieneProductoOMenuSeleccionado()"
      >
        {{ isEditMode ? 'Actualizar Promoción' : 'Crear' }}
      </button>
    </div>
  </form>
</div>

<app-footer-admin
  [backRoute]="'/administrador/gestion-promociones'"
></app-footer-admin>
