@use '@angular/material' as mat;

$primary-color: #DD453A;
$hover-primary: #e96b62;

html {
  @include mat.theme((
    color: mat.$red-palette,
    typography: '"Lato", sans-serif',
    density: 0,
  ));
}

@font-face {
  font-family: 'Lato';
  src: url('../public/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../public/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html, body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.primary__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;

  padding: 3px 3px; 
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 600; 
  line-height: 1.75;
  color: white;

  background-color: $primary-color; 

  border: none;
  border-radius: 100px;
  cursor: pointer;

  min-width: 150px;   
  min-height: 20px;  

  text-decoration: none;
  outline: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
              transform 150ms ease-out;

  &:hover {
    background-color: $hover-primary;
    transform: scale(1.03); 
  }

  &:active {
    transform: scale(0.98);
  }

  &:disabled {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.38);
    cursor: default;
    transform: scale(1);
  }
}