<app-header-admin></app-header-admin>

<!-- Contenido -->
<div class="productos-container">
  <p class="breadcrumb">HOME</p>
  <h2 class="section-title">Gestión de Productos</h2>

  <div class="productos-grid">
    <div
      class="productos-item"
      (click)="irA('administrador/gestion-productos/crear')"
    >
      <img src="assets/admin/ADMIN_11.png" alt="Crear producto" />
      <span>Crear producto</span>
    </div>
    <div
      class="productos-item"
      (click)="irA('administrador/gestion-productos/editar')"
    >
      <img src="assets/admin/ADMIN_11_1.png" alt="Editar producto" />
      <span>Editar producto</span>
    </div>
    <div
      class="productos-item"
      (click)="irA('administrador/gestion-productos/eliminar')"
    >
      <img src="assets/admin/ADMIN_11_2.png" alt="Eliminar producto" />
      <span>Eliminar producto</span>
    </div>

    <!-- ✅ NUEVA SECCIÓN PARA INGREDIENTES -->

    <div
      class="productos-item ingredientes-item"
      (click)="irA('administrador/gestion-ingredientes')"
    >
      <img src="assets/admin/ADMIN_INGREDIENTES_1.png" alt="Gestionar ingredientes" />
      <span>Gestionar ingredientes</span>
    </div>

        <!-- ✅ NUEVA SECCIÓN PARA CATEGORÍAS -->
    <div
      class="productos-item categorias-item"
      (click)="irA('administrador/gestion-categorias')"
    >
      <img src="assets/admin/ADMIN_CATEGORIAS.png" alt="Gestionar categorías" />
      <span>Gestionar categorías</span>
    </div>

    
    <div
      class="productos-item iva-item"
      (click)="irA('administrador/gestion-iva')"
    >
      <img src="assets/admin/ADMIN_IVA.png" alt="Gestionar IVA" />
      <span>Gestionar IVA</span>
    </div>


  </div>
</div>

<app-footer-admin [backRoute]="'/administrador/home'"></app-footer-admin>
