<app-header-admin></app-header-admin>

<!-- Contenido -->
<div class="establecimientos-container">
  <p class="breadcrumb">HOME</p>
  <h2 class="section-title">Gestión de Establecimientos</h2>

  <div class="establecimientos-grid">
    <div
      class="establecimiento-item"
      (click)="irA('/administrador/gestion-establecimientos/crear')"
    >
      <img src="assets/admin/ADMIN_24.png" alt="Crear nuevo Establecimiento" />
      <span>Crear nuevo Establecimiento</span>
    </div>
    <div
      class="establecimiento-item"
      (click)="irA('/administrador/gestion-establecimientos/editar-eliminar')"
    >
      <img
        src="assets/admin/ADMIN_24_1.png"
        alt="Editar/Eliminar Establecimiento"
      />
      <span>Editar/Eliminar Establecimiento</span>
    </div>
  </div>
</div>

<app-footer-admin [backRoute]="'/administrador/home'"></app-footer-admin>